<style> 
.fixed-header {
    background-color: #fff !important;
    box-shadow: 1px 1px 12px 1px rgba(0,0,0,0.1) !important;
    border-bottom: 2px solid #444444;
    height: 4rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: block;
    z-index: 2;
}

.fixed-header li {
    display: inline-block;
    padding: 20px 0.25em;
    height: 1rem;
}

.fixed-header a {
    text-decoration: none;
    font-size: 16px;
}

.fixed-header a:hover, .fixed-header a:focus  {
    text-decoration: underline;
}
</style>
<ul class="fixed-header">
    <li><a href="https://dearevelina.com"><img src="/img/DearELogo.png" alt="Dear Evelina" width="90" height="25" style="" /></a></li>
    <li><a href="/blog">Blog</a></li>
    <li><a href="https://shop.dearevelina.com">Shop</a></li>
    <li><a href="/things">Things</a></li>
    <li><a href="https://www.justgiving.com/campaign/abrighterfutureforevelina">Donate</a></li>
</ul>
