<style> 
.fixed-header {
    background-color: #f6f6f6 !important;
    padding: 20px;
   position: fixed;
    top: 0;
    left: 0;
    width: 100%; 
    display: block;
    z-index: 2;
}

.fixed-header li {
    display: inline-block;
    margin-right: 1em;
}

.fixed-header a {
    text-decoration: none;
}

.fixed-header a:hover, .fixed-header a:focus  {
    text-decoration: underline;
}
</style>
<ul class="fixed-header">
    <li><a href="https://dearevelina.com">Home</a></li>    
    <li><a href="/blog">Blog</a></li>
    <li><a href="/things">Evelina's Things</a></li>
    <li><a href="https://www.justgiving.com/campaign/abrighterfutureforevelina">Donate</a></li>
</ul>