<!-- Footer -->
<footer id="footer">
	<div class="footer-content">
		<div class="container">
			<div class="row">
					<div class="col-lg-5">
							<div class="widget">
						
									<div class="widget-title">Evelina's fundraising</div>
										<p class="mb-5">Fundraising for therapies and equipment to help Evelina reach her full potential after brain injury at birth.</p>
										<a href="https://www.justgiving.com/campaign/abrighterfutureforevelina" class="btn btn-inverted">Go to Evelina's Justgiving page</a>
							</div>
				</div> 
		

		</div>
		</div>
	</div>
</footer>
<!-- end: Footer -->