{{ define "main" }}
<link href="https://cdn.jsdelivr.net/npm/gutenberg-css@0.6.0/dist/gutenberg.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://sf.abarba.me/font.css">
<style>
    
    body {
        font-family: -apple-system, "SF Text",Helvetica,Arial,sans-serif;
    }

    h1, h2, h3, h4, h5 {
        font-family: "SF Display",Helvetica,Arial,sans-serif;
        font-weight: 200;
    }

    blockquote {    
        font-family: "SFMono-Regular",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
    }

    .fixed-header {
        background-color: #f6f6f6 !important;
        padding: 20px;
       position: fixed;
        top: 0;
        left: 0;
        width: 100%; 
        display: block;
    }
</style>

<div class="fixed-header">
    <p>Donate</p>
</div>

<h1>Evelina's Therapies</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero illo vitae, cupiditate excepturi in incidunt nemo unde architecto laboriosam repudiandae placeat amet eveniet, ipsam esse at aperiam. Sit, cumque nihil.</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium vitae in enim. Nam omnis nostrum id eaque numquam tempore quaerat distinctio ad ipsum, suscipit quos minima, laborum dolores, nemo tenetur.</p>

<h2>
    Snowdrop
</h2>

<p>Lorem <a href="#">dolor</a>, sit amet consectetur adipisicing elit. Atque maxime dolore architecto sint natus, non quo laborum assumenda labore laudantium a, eveniet at obcaecati, minima rem voluptatibus ea ab animi!</p>
<blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quas corrupti iste harum omnis nam, deleniti esse commodi inventore, dolorem maxime odit ad quam? Praesentium iusto quas debitis maxime pariatur.</blockquote>

<h2>
    Reflex Integration Therapy with Mind Space in Miami
</h2>

<p>Lorem <a href="#">dolor</a>, sit amet consectetur adipisicing elit. Atque maxime dolore architecto sint natus, non quo laborum assumenda labore laudantium a, eveniet at obcaecati, minima rem voluptatibus ea ab animi!</p>
<blockquote>Lorem ipsum dolor sit amet consectetur adipisicing elit. In quas corrupti iste harum omnis nam, deleniti esse commodi inventore, dolorem maxime odit ad quam? Praesentium iusto quas debitis maxime pariatur.</blockquote>


<p><img src="http://placekitten.com/g/200/300" alt="Test"></p>

<h3>You know what</h3>
<p>Yes</p>
<p>It is</p>
    

{{ end }}
