{{ define "main" }}
{{ $c := .Content }}
<link href="https://cdn.jsdelivr.net/npm/gutenberg-css@0.6.0/dist/gutenberg.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://sf.abarba.me/font.css">
<style>
    
    body {
        font-family: -apple-system, BlinkMacSystemFont, "SF Text",Helvetica,Arial,sans-serif;
        padding-left: 5vw;
        padding-right: 5vw;
    }

    h1, h2, h3, h4, h5 {
        font-family: -apple-system, BlinkMacSystemFont, "SF Text",Helvetica,Arial,sans-serif;
        font-weight: 200;
    }

    blockquote {    
    font-family: "SFMono-Regular",
    "SF Mono",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
    }   

    .description {
      font-family: "SFMono-Regular",
      "SF Mono",
    Consolas,
    "Liberation Mono",
    Menlo,
    Courier,
    monospace;
      margin-bottom: 2em;
    }

    a[href^='http']:after, a[href^='ftp']:after {
        content: '';
    }

    .content ul {
        list-style: circle;
    }
</style>

{{partial "fixed-header"}}
<div class="content">
    <h1>{{.Title}}</h1>
    <p>{{ .Date.Format "Mon, Jan 2, 2006" }}</p>
    <p class="description">{{ .Description }}</p>
    {{ if .Params.image }}<img src="{{ .Params.image }}" alt="{{ .Title }}" />{{ end }}
    {{ .Content }}
</div>
{{ end }}
