{{ define "main" }}

<!-- Stylesheets & Fonts --><link href="/polo/css/plugins.css" rel="stylesheet">
<link href="/polo/css/style.css" rel="stylesheet">
<link href="/polo/css/responsive.css" rel="stylesheet"> 


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId=106487423266333"></script>

<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
<style>
body {
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, "SF Text",Helvetica,Arial,sans-serif;
    font-size: 16px;
}

h1, h2, h3, h4, h5 {
        font-family: "SF Display",Helvetica,Arial,sans-serif;
        font-weight: 200;
    }

html {
    background-color: #fff;
}

.wrapper {
    color: #f8f9fa;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

.buttons {
    max-width: 400px;
    margin-top: 15px;   
}

.buttons li {
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

.buttons a {
    background-color: #f6f6f6;
    display: block;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 1em;
    height: 45px;
    line-height: 35px;
}

.buttons a img {
    max-width: 100px;
    max-height: 30px;
    float: right;
    margin-top: 2px;
}

.buttons a:hover {
    background-color: #ffffff;
}

.blog-posts {
    color: #444444;
}
</style>
<div class="wrapper">
    <div class="heading-text heading-gradient">
        <img src="/img/DearELogo.png" alt="Dear Evelina" width="410" height="116" style="margin-left: -10px;">
        <p>All about our tiny superhero.</p>
    </div>

    <ul class="buttons">
        {{ range .Params.links }}
        <li><a href="{{.url}}">{{.text}}{{ if .logo }}
            <img src="https://dearevelina.com{{.logo}}?nf_resize=fit&w=200&h=60"/>{{end}}</a></li>
        {{end}}
    </ul>
    <style>
        .blog-posts {
            max-width: 100%;
        }

        .blog-posts>.blog-list:first-child {
            display: none;
        }
        
        .blog-list {
         padding-right: 5px;
         padding-left: 5px;
         padding-bottom: 10px;
        }

        .blog-list img {
            display: block;
            height: 200px;
            object-fit: cover;
        }
    </style>
    <div class="blog-posts">
        <h2>Latest from the blog</h2>
        <ul class="blog-posts" style="width: 400px; display: flex; flex-wrap: wrap;">
            {{ range where .Site.Pages "Section" "blog" }}
                <li style="flex: 0 50%;" class="blog-list">
                    <a href="{{.Permalink}}">
                        {{with .Params.Mainimage}}
                            <img src="https://azhzuyujdm.cloudimg.io/v7/dearevelina.com{{ . | safeURL }}?w=1024&q=70&force_format=jpeg&sharp=1" alt="" width="200" />
                        {{end}}
                        {{ .Title }}
                    </a>
                </li>
            {{ end }}
        </ul>
    </div>

</div>
  

<!--Plugins-->
<script src="/polo/js/jquery.js"></script>
<script src="/polo/js/plugins.js"></script>


<!--Template functions-->
<script src="/polo/js/functions.js"></script>


<script>
	(function() {
		var script = document.createElement('script');
		window.counter = 'https://dearevelina.goatcounter.com/count'
		script.async = 1;
		script.src = '//gc.zgo.at/count.js';

		var ins = document.getElementsByTagName('script')[0];
		ins.parentNode.insertBefore(script, ins)
	})();
</script>

{{end}}