{{ define "main" }}

<!-- Stylesheets & Fonts --><link href="/polo/css/plugins.css" rel="stylesheet">
<link href="/polo/css/style.css" rel="stylesheet">
<link href="/polo/css/responsive.css" rel="stylesheet"> 


<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId=106487423266333"></script>

<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
<style>
body {
    padding: 0;
    font-family: 'Patrick Hand', cursive;
}

html {
    background-color: #fff;
}

.wrapper {
    color: #f8f9fa;
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    padding: 20px;
    height: 100%;
}

ul {
    max-width: 400px;
    margin-top: 15px;   
}

li {
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

a {
    background-color: #f6f6f6;
    display: block;
    padding: 5px 8px;
    text-decoration: none;
    font-size: 20px;
    height: 45px;
    line-height: 35px;
}

a img {
    max-width: 100px;
    max-height: 30px;
    float: right;
    margin-top: 2px;
}

a:hover {
    background-color: #ffffff;
}
</style>
<div class="wrapper">
    <div class="heading-text heading-gradient">
        <h2 class=""><span>Dear Evelina</span></h2>
        <p>All about our tiny superhero.</p>
    </div>

    <ul>
        {{ range .Params.links }}
        <li><a href="{{.url}}">{{.text}}{{ if .logo }}
            <img src="https://dearevelina.com{{.logo}}?nf_resize=fit&w=200&h=60"/>{{end}}</a></li>
        {{end}}
    </ul>

</div>
  

<!--Plugins-->
<script src="/polo/js/jquery.js"></script>
<script src="/polo/js/plugins.js"></script>


<!--Template functions-->
<script src="/polo/js/functions.js"></script>


<script>
	(function() {
		var script = document.createElement('script');
		window.counter = 'https://dearevelina.goatcounter.com/count'
		script.async = 1;
		script.src = '//gc.zgo.at/count.js';

		var ins = document.getElementsByTagName('script')[0];
		ins.parentNode.insertBefore(script, ins)
	})();
</script>

{{end}}