{{ define "main" }}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.3&appId=106487423266333"></script>

<link href="https://fonts.googleapis.com/css?family=Patrick+Hand" rel="stylesheet">
<style>
body {
    padding: 20px;
    font-family: 'Patrick Hand', cursive;
}

ul {
    max-width: 400px;
    margin-top: 15px;   
}

li {
    border: 1px solid #ccc;
    display: inline-block;
    margin-bottom: 10px;
    width: 100%;
}

a {
    background-color: #f6f6f6;
    display: block;
    padding: 5px 8px;
    text-decoration: none;
}

a img {
    max-width: 100px;
    max-height: 30px;
    float: right;
    margin-top: 2px;
}

a:hover {
    background-color: #ffffff;
}
</style>

<h1>{{.Title }}</h1>

<div class="fb-video" data-href="https://www.facebook.com/hayley.morrey/videos/10161510385125316/" data-width="400" data-show-text="true"><blockquote cite="https://developers.facebook.com/hayley.morrey/videos/10161510385125316/" class="fb-xfbml-parse-ignore"><a href="https://developers.facebook.com/hayley.morrey/videos/10161510385125316/">|A brighter future for Evelina|</a><p>|A brighter future for Evelina|
        https://www.justgiving.com/campaign/abrighterfutureforevelina
        
        As most of you know, we are on a different journey with Evelina and for those who don&#039;t, this video is a snippet of her story so far.
        
        When Evelina was in NICU, a poster on the wall read ‘Hey little fighter, soon things will be brighter’ and many of you will know how hard Evelina works to make that true.
        
        Today we’re launching Evelina’s fundraiser so that we’re able to give her the future that she deserves. With brain injuries, Early Intervention is key and while the NHS is incredible, they’ve not got the resources or expertise to give Evelina everything she needs to reach her potential.
        
        We’re fundraising to continue taking Evelina to private Physio, Speech and language therapy, for specialist toys and equipment and alternative therapies that have shown real promise but are not currently funded by the NHS. All this costs £20k or more a year.
        
        We’re fundraising via the charity Just4Children who can ensure we’re spending the donations on the things that will make a difference to Evelina. It also means we can accept Gift Aid and, for the super generous, reoccurring tax-free payroll giving donations.
        
        https://just4children.org/donate/payroll-giving/
        
        Thank you, so much, in advance for making Evelina’s future brighter - we’ll never be able to put into words what your support means but know we will all be forever grateful.</p>Posted by <a href="#" role="button">Hayley Trufitt</a> on Wednesday, May 1, 2019</blockquote></div>

<ul>
    {{ range .Params.links }}
    <li><a href="{{.url}}">{{.text}}<img src="https://dearevelina.com{{.logo}}?nf_resize=fit&w=200&h=60"></a></li>
    {{end}}
</ul>


<script>
	(function() {
		var script = document.createElement('script');
		window.counter = 'https://dearevelina.goatcounter.com/count'
		script.async = 1;
		script.src = '//gc.zgo.at/count.js';

		var ins = document.getElementsByTagName('script')[0];
		ins.parentNode.insertBefore(script, ins)
	})();
</script>
{{ end }}

